@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/js/common.js"></script>

    <table id="menu">
        <tr>
        </tr>
    </table>

    <table id="tgenerate">
        
    </table>

    <table>
        <tr>
            <td><a href="#" id="bgenerate">generate</a></td>
        </tr>
    </table>

    <table>
        <tr>
            <td></td>
        </tr>
    </table>

    <div id="parents"></div>

    <table id="tables">
        <tr>
            <td></td>
        </tr>
    </table>

    <table id="single">
        
    </table>

    <table>
        <tr>
            <td></td>
        </tr>
    </table>

    <table id="buttons">
        <tr>
            <td><center><a href="#" id="insert">insert</a></center></td>
            <td><center><a href="#" id="update">update</a></center></td>
            <td><center><a href="#" id="delete">delete</a></center></td>
        </tr>
    </table>

    <table>
        <tr>
            <td></td>
        </tr>
    </table>

    <table id="multiple">

    </table>

    <table id="tablecolumns">

    </table>

    <a href="#" id="getdata">getdata</a>

    <table id="query">

    </table>

    <a href="#" id="getresult">getresult</a>

    <table id="result">
        <tr>
            <td>result</td>
            <td>resultcount</td>
        </tr>

    </table>
}
